// Typography
$font-family-base: 'Roboto', sans-serif;

$primary: #3F51B5;
$light: #F9F9F9;
$code-color: #3F51B5;
$tooltip-max-width: 350px;
$popover-max-width: 350px;
$tooltip-color: #fff;
$tooltip-bg: rgba(0, 0, 0, 1);

$input-border-width: 2px;
$enable-validation-icons: false;
$modal-content-border-radius: 1rem;
//$accordion-border-width: 1px;
//$accordion-border-color: rgba(255, 255, 255, 0.1);
